.jumbotron {
    color: #259c8c;
    background-color: #85DCB6;
}

body {
    background-color: #FFAA91;
}

.border {
    border-width: 5px !important;;
}

.card .border {
    border-color: #581027 !important;;
}

.card {
    background-color: #85DCB6;
    color: #bb6e86;
    margin: 20px;

}

